:root {
    --corPrincipal: #11141b;
    --branco: #ededed;
    --dourado: #dda765;
    --texto-linha: #545454;
    --inputs: #e9e9e9;
  }
  
  @font-face {
    font-family: "Colendra-Alternate";
    src: url("../fonts/Colendra-Alternate.otf") format("truetype");
  }
  @font-face {
    font-family: "Colendra-bold";
    src: url("../fonts/Colendra-Bold.otf") format("truetype");
  }
  @font-face {
    font-family: "COPASETI";
    src: url("../fonts/COPASETI.TTF") format("truetype");
  }
  @font-face {
    font-family: "edosz";
    src: url("../fonts/edosz.ttf") format("truetype");
  }
  @font-face {
    font-family: "Prodelt Co";
    src: url("../fonts/Prodelt\ Co.ttf") format("truetype");
  }

  body {
    background-color: var(--corPrincipal);
  }

  .navbar {
    background-color: var(--branco);
  }

  .navbar-toggler {
    background-color: var(--dourado);
  }

  .navbar_logo {
    display: flex;
    align-items: center;
  }

  .navbar_logo h3 {
    font-family: Prodelt Co;
  }

  .logo {
    width: 100px;
  }

  .offcanvas-title {
    font-family: Prodelt Co;
    font-size: 18pt;
  }

  .comingSoon {
    font-family: Colendra;
    text-align: center;
    color: red;
  }
  
  main {
    min-height: 200vh;
    min-width: 90vw;
  }

  .menu-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-title {
    font-family: colendra;
    color: var(--dourado);
    display: flex;
    justify-content: center;
    margin-top: 12vw;
}

.menu-subtitle {
    display: flex;
    justify-content: center;
}

.menu-subtitle h3 {
    border: 1px solid var(--dourado);
    padding: 1rem;
    background-color: var(--);
    color: var(--branco);
    border-radius: 10px;
}

.menu_itens {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.itens {
    margin-left: 1rem;
    border: 1px solid var(--dourado);
}

.itens p {
    color: var(--branco);
    text-indent: 5px;
}

.itens h5 {
    color: var(--dourado);
    margin-top: -1rem;
    text-indent: 5px;
    font-size: 18pt;
}

.premios {
    width: 15rem;
    height: 20rem;
}

footer {
  margin-top: -2.5rem;
  text-align: center;
  color: var(--branco);
}

footer a {
  color: var(--dourado);
  text-decoration: none;
}

